@{
    ViewData["Title"]= "Order To Make";
    ViewData["Log Out"]= "/ Log Out";
}
@model List<Order>

<div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p class="alert-success">@ViewData["error_saving"]</p>
        <p class="alert-success">@ViewData["success_prepare"]</p>
        <p class="alert-danger">@ViewData["no_order"]</p>
        <p class="alert-danger">@ViewData["error_access"]</p>
        @if (Model.Count == 0)
        {
            <p class="alert-danger">There is no orders to prepare for tomorrow!</p>
        }else{
            @foreach(Order o in Model)
            {
                <partial name="_OrderToMake" model="o"/>
            }
        }
</div>
